<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Composite.Modularity.ModulesConfigurationSection, Microsoft.Practices.Composite"></section>
  </configSections>
    <modules>
      <module assemblyFile=".\MocksModules\MockModuleA.dll"
              moduleType="Microsoft.Practices.Composite.Tests.Mocks.Modules.MockModuleA"
              moduleName="MockModuleA"/>
    </modules>
</configuration>